<div class="col-md-8 center">
    <div class="form-group">
        <label class="mt-5">Category Name</label>
        <input type="text" id="cat-name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label>Category Description</label>
        <textarea name="description" id="cat-description" class="form-control" required></textarea>
    </div>

    <button type="submit" id="submit-create-cat-form" class="btn btn-lg btn-primary">Create Category</button>
</div>

<script src="app/books/read-category.js"></script>
<script src="app/books/create-category.js"></script>