<!-- <div class="row text-white"> -->
    <div class="card-deck col-8">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Number of Books</h5>
            <div class="display-4 " id="tot-book"></div>
            <a href="" onclick="goTo(event, 'read-book')">
                <p class="card-text">See Detail <i class="fa fa-angle-double-right"></i></p>
            </a>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">Number of Categories</h5>
            <div class="display-4" id="tot-cat"></div>
            <a href="" onclick="goTo(event, 'read-category')">
                <p class="card-text">See Detail <i class="fa fa-angle-double-right"></i></p>
            </a>
        </div>
    </div>
</div>
<!-- </div> -->


<script src="app/books/dashboard.js"></script>