<a href="/read-book" id="create-book" class="btn btn-primary mt-5 mb-3">See All Books</a>
<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td id="detail-name"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td id="detail-price">Rp </td>
    </tr>
    <tr>
        <td>Description</td>
        <td id="detail-description"></td>
    </tr>
    <tr>
        <td>Category</td>
        <td id="detail-category"></td>
    </tr>
</table>

<script src="app/books/read-one.js"></script>
<script src="app/books/read-book.js"></script>