<a href="/create-book" id="create-book" class="btn btn-primary mt-5 mb-3">Create Book</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="tabel-buku"></tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="app/books/read-book.js"></script>
<script src="app/books/read-one.js"></script>